extends layout 

block content
    h1.form-title= title
    h3.form-subtitle= category.title

    if category_components.length 

        p.del-check #[strong Delete the following components before attempting to delete this category.]
        h4.del-list Components 
        dl 
        each component in category_components 
            dt.render-items 
                a(href=component.url) #{component.name} 
    
    else 
        p.del-check Do you really want to delete this category?

        form(method='POST' action='')
            div.form-group
                input#categoryid.form-control(type='hidden', name='categoryid', required='true', value=category._id)
                button.btn.form-change(type='submit') Delete