extends layout 

block content
  h1 Category: #{title}
  p
    a(href=category.url+'/delete') Delete Category
  p
    a(href=category.url+'/update') Update Category
  p #{description}
    ul
    each component in category_components
        li
            a(href=component.url) #{component.name}
    else
        li There are no components. 
    