extends layout 

block content
    h1 #{name} #{title}
    -
        var list = description;
        var listArr = list.split(',');
    h3 Category
    p #{category.title}
    h3 Features 
    ul(class='feature-list')
        each feature in listArr 
            li= feature
    p Price $#{price}
    p Stock #{stock}
    a(href=link) Buy
    p
    a(href=component.url+'/delete') Delete Component
    p
    a(href=component.url+'/update') Update Component
    
    

      
    
