extends layout

block content
    h1.home-header= title
  
    table.sff-parts
            th Component 
                each category in categories
                    tr 
                        td
                            a(href=category.url) #{category.title}
            th Parts
                each component in components 
                    tr 
                        td 
                            a(href=component.url) #{component.name}        
