extends layout

block content
    h1.home-header= title
        h2 Component 
        div.sff-components
            each category in categories
                div.component-grid
                    a(href=category.url) #{category.title}
    table.sff-parts
        th Parts
            each component in components 
                tr 
                    td 
                        a(href=component.url) #{component.name}        
